<section class="about" id="about">
    <div class="about-img">
        <img src="../../assets/about.png">
    </div>

    <div class="about-content">
        <h2 class="heading">About<span style="font-size: 45px;"> Me</span></h2>
        <h3>Angular Developer</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus distinctio facilis eaque ratione odio deleniti animi nemo nihil iusto laborum eum amet velit maiores cumque facere fugit error nulla porro, laudantium necessitatibus veritatis voluptate! Excepturi eum facere illo molestiae perspiciatis quibusdam soluta, aliquam harum nobis optio.</p>
        <a href="#" class="btn">Read More</a>
    </div>
</section>
