<section class="portfolio body" id="portfolio">
<h2 class="heading">Latest <span style="font-size: 45px;"> Project</span></h2>

<div class="portfolio-container">
<div class="portfolio-box">
    <img src="../../assets/portfolio1.jpg" alt="">
    <div class="portfolio-layer">
        <h4>Web Design</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere odit nostrum totam hic temporibus iusto, iste animi exercitationem voluptatibus, tempore in quasi accusamus perferendis rerum laboriosam quae tempora ducimus eaque?</p>
        <a href="#"><i class='bx bx-link-external' ></i></a>
    </div>
</div>
<div class="portfolio-box">
    <img src="../../assets/portfolio4.jpg" alt="">
    <div class="portfolio-layer">
        <h4>Web Design</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere odit nostrum totam hic temporibus iusto, iste animi exercitationem voluptatibus, tempore in quasi accusamus perferendis rerum laboriosam quae tempora ducimus eaque?</p>
        <a href="#"><i class='bx bx-link-external' ></i></a>
    </div>
</div>

<div class="portfolio-box">
    <img src="../../assets/portfolio2.jpg" alt="">
    <div class="portfolio-layer">
        <h4>Web Design</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere odit nostrum totam hic temporibus iusto, iste animi exercitationem voluptatibus, tempore in quasi accusamus perferendis rerum laboriosam quae tempora ducimus eaque?</p>
        <a href="#"><i class='bx bx-link-external' ></i></a>
    </div>
</div>
<div class="portfolio-box">
    <img src="../../assets/portfolio4.jpg" alt="">
    <div class="portfolio-layer">
        <h4>Web Design</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere odit nostrum totam hic temporibus iusto, iste animi exercitationem voluptatibus, tempore in quasi accusamus perferendis rerum laboriosam quae tempora ducimus eaque?</p>
        <a href="#"><i class='bx bx-link-external' ></i></a>
    </div>
</div>

<div class="portfolio-box">
    <img src="../../assets/portfolio3.jpg" alt="">
    <div class="portfolio-layer">
        <h4>Web Design</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere odit nostrum totam hic temporibus iusto, iste animi exercitationem voluptatibus, tempore in quasi accusamus perferendis rerum laboriosam quae tempora ducimus eaque?</p>
        <a href="#"><i class='bx bx-link-external' ></i></a>
    </div>
</div>

<div class="portfolio-box">
    <img src="../../assets/portfolio4.jpg" alt="">
    <div class="portfolio-layer">
        <h4>Web Design</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere odit nostrum totam hic temporibus iusto, iste animi exercitationem voluptatibus, tempore in quasi accusamus perferendis rerum laboriosam quae tempora ducimus eaque?</p>
        <a href="#"><i class='bx bx-link-external' ></i></a>
    </div>
</div>
</div>
</section>