<!-- <header class="header mobile-container">
    <a href="#" class="logo">Portfolio</a>

   
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    <nav class="navbar topnav">
        <a href="" class="active">Home</a>
        <a href="about">About</a>
        <a href="services">Services</a>
        <a href="portfolio">Portfolio</a>
        <a href="contact">Contact</a>
    </nav>
</header> -->

<!-- <app-footer></app-footer> -->
<router-outlet></router-outlet>
