<section class="services body" id="services">
    <h2 class="heading">Our <span style="font-size: 45px;">Services</span></h2>
    <div class="services-container">
        <div class="services-box">
            <i class='bx bx-code-alt'></i>
            <h3>Web Development</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui dolorem, similique modi cupiditate animi, nobis repellat magni cum rem consequuntur perspiciatis aliquid impedit. Neque voluptas sapiente nam, omnis dolor quod.</p>

            <a href="#" class="btn">Read More</a>
        </div>

        <div class="services-box">
            <i class='bx bxl-angular' ></i>
            <h3>Angular Applications</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui dolorem, similique modi cupiditate animi, nobis repellat magni cum rem consequuntur perspiciatis aliquid impedit. Neque voluptas sapiente nam, omnis dolor quod.</p>

            <a href="#" class="btn">Read More</a>
        </div>

        <div class="services-box">
            <i class='bx bxs-data' ></i>
            <h3>Database Management</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui dolorem, similique modi cupiditate animi, nobis repellat magni cum rem consequuntur perspiciatis aliquid impedit. Neque voluptas sapiente nam, omnis dolor quod.</p>

            <a href="#" class="btn">Read More</a>
        </div>


    </div>
</section>
